## $Id: listJsp.vm,v 1.1.1.1 2007/07/12 06:33:08 spal Exp $
## $Source: /cvsroot-fuse/autocrud/autocrud/src/main/resources/velocity/listJsp.vm,v $
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
    
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>${tableName}:${viewName}</title>
</head>
<body>
  <h1>${tableName}:${viewName}</h1>
  <table cellspacing="0" cellpadding="0" border="1" width="100%">
    <tr>
#foreach ($columnDataHolder in ${columnDataHolders})
      <th>${columnDataHolder.javaName}</th>
#end
      <th>View</th>
    </tr>
    <c:forEach items="${records}" var="record">
    <tr>
#foreach ($columnDataHolder in ${columnDataHolders})
      <td>${columnDataHolder.jstlGetExpr}</td>
#end
      <td><a href="/${webAppName}/${tableName}.do?action=show&id=${record.id}">View</a></td>
    </tr>
    </c:forEach>
  </table>
  <br/>
  <a href="/${webAppName}/${tableName}.do?action=add">Add</a>&nbsp;&nbsp;
  <a href="/${webAppName}">Index</a>
</body>
</html>
